#experiences_container {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #experiences_container {
    width: 90%;
  }
}
