.icon_button {
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.25));

  border-radius: 5px;
  background: #7b94e4;

  width: 11.86rem;
  height: 2.5rem;
  flex-shrink: 0;

  padding: 1rem;
}

.icon_button:hover {
  background: #6f85cd;
}

.button_icon {
  margin-right: 0.5rem;
  width: 1.65rem;
  height: 1.625rem;
  flex-shrink: 0;
}

.button_text {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
