html {
  scroll-behavior: smooth;
}

.App {
  color: #d8d9da;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* background-color: #272829; */

  background: rgb(31, 31, 41);
  background: linear-gradient(
    162deg,
    rgba(31, 31, 41, 1) 10%,
    rgba(39, 40, 41, 1) 66%,
    rgba(73, 80, 87, 1) 96%
  );
}

.segments_title {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 3rem;
  margin-bottom: 3rem;
}
