body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px; /* Adjust the base font size for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 280px) {
  html {
    font-size: 10px;
  }
}
